// Load CSS Reset from NPM
// CSS resets "normalize" how browser styles are applied.
// Try commenting this out and saving. What changes in the browser?
@import "~normalize.css";

// An example of a partial.
// Check out the _typography.scss file to edit the CSS inside!
@import "typography";
@import "layout";

// You can still write styles in this file too.
// Here's an example of how you could write media queries more easily with Sass.

$large-phone: 500px;
$tablet-vertical: 768px;
$desktop: 1200px;

// And some color variables.
// Look how much easier it is to keep track of what these are than hex codes!

$red: #ab424a;
$orange: #dd7c00;
$green: #3b975f;
$blue: #4261ab;

.page-heading {
	color: $red;

	// Sass lets you write your media queries inline if you want.
	// This is why I'm always forgetting I have to put the class inside
	// the media query in regular CSS. I never have to in Sass!
	// I like combining these with variables to make it easier to read
	// my media queries.

	@media screen and (min-width: $large-phone) {
		color: $orange;
	}

	@media screen and (min-width: $tablet-vertical) {
		color: $green;
	}

	@media screen and (min-width: $desktop) {
		color: $blue;
	}
}

/* Styling the Body element i.e. Color,
		Font, Alignment */
body {
	background-color: #211d1d;
	text-align: left;
	color: white;
}

.fixed {
	img {
		display: block;
		max-width: 60%;
		margin-top: 50px;
		margin-bottom: 20px;
		margin-left: 18%;
	}
}

form {
	border: 2px solid orange;
	border-radius: 25px;
	max-width: 300px;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
	text-align: left;
	margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
	display: block;
	margin-bottom: 10px;
}

/* Styling form-control Radio
				 button and Checkbox */
.form-control input[type="checkbox"] {
	display: inline-block;
	width: auto;
}

.choice {
	text-align: center;
}

.ready {
	text-align: center;
}

/* Styling Button */
button {
	background-color: orange;
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	font-size: 21px;
	display: block;
	width: 120px;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 38%;
}
