* {
	border: 2px solid red;
}

.header-container {
	background-color: black;
	padding-bottom: 30px;
}

.logo {
	color: #fff;
	margin-left: 23px;
	margin-top: 20px;
	margin-right: 250px;
}

.search {
	margin-left: 300px;
	margin-top: -60px;
	display: flex;
}

.hamburger {
	margin-left: 380px;
	margin-top: -24px;
	display: flex;
}

.body-container {
	height: 700px;
}

.homepage-img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 700px;
}

.tagline {
	text-align: center;
	color: #fff;
	font-size: 45px;
}

.tagline-container {
	background: rgba(128, 128, 128, 0.7);
	margin-top: 300px;
	margin-right: 10px;
	margin-left: 10px;
	position: absolute;
}

.start-container {
	background-color: black;
}

.start {
	color: #fff;
	text-align: center;
}
