@media screen and (min-width: 468px) and (max-width: 768px) {
	.logo {
		background-color: black;
		font-size: 30px;
		color: white;
		padding: 20px;
		margin: auto 0;
		padding-bottom: 200px;
		font-family: freight-big-pro, serif;
		font-weight: bold;
		font-style: normal;
	}

	.search {
		position: absolute;
		right: 60px;
		top: 40px;
	}

	.menu {
		position: absolute;
		right: 20px;
		top: 40px;
	}

	.mainpic {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		border-radius: 50px;
	}

	.drinkname {
		font-family: freight-big-pro, serif;
		font-weight: bold;
		font-style: normal;
		margin-left: 20px;
	}

	.main_content {
		margin-left: 20px;
		font-family: semplicitapro, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		font-family: semplicitapro, sans-serif;
		font-weight: 400;
		font-style: normal;
		color: orange;
	}

	.ingre {
		margin-left: 20px;
	}

	.list-ingre {
		list-style-type: none;
		display: flex;
		vertical-align: middle;
	}

	.list-ingre img {
		margin-right: 40px;
	}

	.list-similar {
		list-style-type: none;
		display: flex;
		vertical-align: middle;
	}

	.list-similar img {
		margin-right: 40px;
	}

	.allergy {
		text-align: right;
		margin-right: 20px;
	}

	.similar {
		margin-left: 20px;
		vertical-align: middle;
	}
}
